---
const {...offre} = Astro.props;
---

<li>
  <h2>{offre.nomMaison}</h2>
  {offre.image_url && (
    <img src={offre.image_url} alt={"Image de ${offre.nomMaison}"} style="max-width: 100%; height: auto;" />
  )}
</li>

<a href={`/offres/${offre.id}`}>Voir plus</a>