---
const {title, date, favori} = Astro.props
---

<div>
    <ul>
        <li> {title}</li>
        <li> {date}</li>
        <li> {favori}</li>
        <button x-onclick="favori = !favori">Favori</button>
    </ul>
</div>
